<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="AutoContentVerification">

    <!--DATA FOR TESTS-->

    <!-- User credentials for Positive test (Positive => "Posit") -->
    <parameter name="namePosit" value="Petr"/>
    <parameter name="surnamePosit" value="Ivanov"/>
    <parameter name="elMailPosit" value="ivanpetrov"/>
    <parameter name="passwordPosit" value="1234567"/>
    <parameter name="bDayPosit" value="20"/>
    <parameter name="bYearPosit" value="1999"/>
    <parameter name="telNumbPosit" value="6190000000"/>
    <parameter name="elMailRecovPosit" value="ivanRecovery@ivan.com"/>


    <!-- Data for email username (Uname) verification -->
    <!--Error messages-->
    <parameter name="stringExist" value="That username is taken. Try another."/>
    <parameter name="stringDotExist"
               value="Someone already has that username. Note that we ignore periods and capitalization in usernames. Try another?"/>
    <parameter name="stringCorrectChars" value="Please use only letters (a-z), numbers, and periods."/>
    <parameter name="stringFirstChar" value="The first character of your username should be a letter (a-z) or number."/>
    <parameter name="stringLastChar" value="The last character of your username should be a letter (a-z) or number."/>
    <parameter name="stringNameTaken" value="That username is taken. Try another."/>
    <parameter name="stringTwoDots" value="A fan of punctuation! Alas, usernames can't have consecutive periods."/>
    <parameter name="stringCharsLimit" value="A fan of punctuation! Alas, usernames can't have consecutive periods."/>
    <!---->

    <!--Positive-->
    <parameter name="correctUname" value="myemail"/>
    <parameter name="dotUname" value="my.email"/>
    <parameter name="capitalUname" value="MYEMAIL"/>
    <parameter name="digitsUname" value="123456"/>
    <parameter name="wSpacesUname" value="   myemail   "/>


    <!--Negative-->
    <parameter name="minCharsUname" value="hello"/>
    <parameter name="maxCharsUname" value="therearemorethanеhirtycharacters"/>

    <parameter name="plusUname" value="firstname+lastname"/>
    <parameter name="dashUname" value="firstname-lastname"/>
    <parameter name="underscoreUname" value="_______"/>
    <parameter name="specCharsUname" value="!@#$%^*()"/>
    <parameter name="firstDotUname" value=".myemail"/>
    <parameter name="lastDotUname" value="myemail."/>
    <parameter name="dotsUname" value="myemail..myemail"/>
    <parameter name="unicodeUname" value="あいうえお"/>
    <parameter name="twoWordsUname" value="email (Joe Smith)"/>
    <parameter name="ampUname" value="&#38;&#38;&#38;&#38;&#38;&#38;"/>






    <!--Negative-->

    <!--END OF DATA FOR TESTS-->

    <test name="Sign up new user">


        <!--<package name = "TestsSignUpPage" />-->

        <classes>
            <class name="TestsSignUpPage.RequiredFields"/>
            <!--<class name = "TestsSignUpPage1.TestingElemets"/>-->
            <!--<class name = "extentReports.ExtentReportsClassVersion3"/>-->
            <class name="TestsSignUpPage.EmailVerification"/>


        </classes>


    </test>
</suite>